.login-bg {
    position: relative;
    top: -300px;
    left: 0;
    display: flex;
    height: 100svh;
    width: 100svw;
    justify-content: center;
    align-items: center;
    background-color: #F7E0C8;
    z-index: 2;
}

.login-bg::before {
    content: '';
    position: absolute;
    background-image: url(./ornament.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    opacity: 30%;
    z-index: 0;
}

.login-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #D9D9D9;
    border-radius: 20px;
    padding: 30px 40px;
    z-index: 1;
}

.login-title {
    font-size: 34px;
    color: #2C83A1;
}

.login-content form {
    display: flex;
    width: 450px;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    background-color: transparent;
    border: 3px solid #BE9973;
    border-radius: 20px;
    margin-top: 40px;
}

.login-content form input::placeholder {
    font-size: 24px;
}

.login-content form input {
    background-color: transparent;
    border: none;
    border-bottom: 4px solid #BE9973;
    color: #BE9973;
    outline: none;
    height: 45px;
    margin-top: 10px;
    font-size: 24px;
}

.login-content form input::placeholder {
    transition: .3s ease transform;
    color: #BE9973;
}

.login-content form input:focus::placeholder {
    transform: translateY(-200%);
}

.login-content form input:first-child {
    margin-top: 0;
}

.login-buttons {
    margin-top: 25px;
    margin-left: 80px;
    display: flex;
    align-items: center;
    column-gap: 30px;
}

.login-buttons button {
    outline: none;
    font-size: 32px;
    background-color: transparent;
    color: #2C83A1;
    border: none;
    border-radius: 20px;
    cursor: pointer;

    transition: .3s ease background-color;
}

.login-buttons button:hover {
    background-color: #be98736f;
}

.registration-hyperlink {
    padding: 10px;
}

.login-buttons i {
    padding: 15px;
    border-radius: 20px;
    color: #2C83A1;
}