.event-item {
    position: relative;
    background-color: #BE9973;
    border-radius: 20px;
    padding: 20px;
    width: 300px;
    height: 200px;
    margin: 40px;
    display: flex;
    justify-content: center;
    overflow: hidden;

    transition: .3s ease padding, .3s ease height, .3s ease background-color;
    z-index: 1;
}

.event-item:hover {
    padding: 30px 20px;
    height: 250px;
    background-color: #DCB083;
}

.event-item img {
    position: absolute;
    transition: .3s ease transform;
    height: 182px;
}

.event-item:hover img {
    transform: scale(1.1);
}

.event-description {
    position: absolute;
    top: 260px;
    font-size: 25px;
}