.main-content-item {
    padding: 14px;
    background-color: #BE9973;
    border-radius: 30px;
    display: flex;
    column-gap: 45px;
}

.main-content-item {
    transition: .3s ease background-color;
}

.main-content-item:hover {
    background-color: #DCB083;
}

.main-content-item img {
    width: 208px;
    height: 208px;
    border-radius: 25px;
}

.item-title {
    font-size: 24px;
    margin-top: 15px;
}

.item-description {
    margin-top: 35px;
    font-size: 20px;
    font-family: "Inter", sans-serif;
    width: 1000px;
}