body {
  background-color: #F7E0C8;
  display: flex;
  justify-content: center;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: #bababa;
  border-radius: 20px;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Kelly Slab", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #674042;
}

a {
  text-decoration: none;
}